/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.hero {
  background-image: url('https://github.com/Himanshucoder94/player-auction-countdown/blob/main/Maharaja-Yadavindra-Singh-International-Cricket-Stadium.jpg?raw=true');
  background-size: cover;       /* Ensure the image covers the entire area */
  background-position: center;  /* Center the image in the section */
  background-attachment: fixed; /* Keep the background image fixed while scrolling */
  height: 100vh;                /* Full screen height */
  display: flex;                /* Flex to center content */
  justify-content: center;      /* Align items to center horizontally */
  align-items: center;          /* Align items to center vertically */
  text-align: center;           /* Center text horizontally */
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff4500;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 20px; /* Add padding inside the box */
  background-color: rgba(255, 69, 0, 0.8); /* Light orange background */
  border: 2px solid #ff4500; /* Orange border around the box */
  border-radius: 10px; /* Rounded corners */
  display: inline-block; /* Make it fit the content and center the box */
  text-align: center; /* Center text inside the box */
}


.auction-month {
  font-size: 1.2rem;
  margin-bottom: 40px;
  font-style: italic;
  color: #ff4500;
}

.cricket-image {
  width: 60%;
  max-width: 600px;
  margin-bottom: 40px;
}

#countdown-timer {
  font-size: 3rem;
  font-weight: bold;
  background: rgba(255, 69, 0, 0.7); /* Semi-transparent orange background */
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

#countdown-timer span {
  font-size: 2.5rem;
}

.countdown-note {
  font-size: 1rem;
  margin-top: 20px;
}

.container {
  text-align: center;
}
